In [139]:
import pandas as pd

In [140]:
observation=pd.read_csv('observations.csv')
observation.head()

            scientific_name                            park_name  observations
0        Vicia benghalensis  Great Smoky Mountains National Park            68
1            Neovison vison  Great Smoky Mountains National Park            77
2         Prunus subcordata               Yosemite National Park           138
3      Abutilon theophrasti                  Bryce National Park            84
4  Githopsis specularioides  Great Smoky Mountains National Park            85

In [141]:
species=pd.read_csv('species_info.csv')
species.head()

,category,scientific_name,common_names,conservation_status
0,Mammal,Clethrionomys gapperi gapperi,Gapper's Red-Backed Vole,NaN
1,Mammal,Bos bison,"American Bison, Bison",NaN
2,Mammal,Bos taurus,"Aurochs, Aurochs, Domestic Cattle (Feral), Dom...",NaN
3,Mammal,Ovis aries,"Domestic Sheep, Mouflon, Red Sheep, Sheep (Feral)",NaN
4,Mammal,Cervus elaphus,Wapiti Or Elk,NaN

In [142]:
observation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23296 entries, 0 to 23295
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   scientific_name  23296 non-null  object
 1   park_name        23296 non-null  object
 2   observations     23296 non-null  int64
dtypes: int64(1), object(2)
memory usage: 546.1+ KB

In [143]:
species.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5824 entries, 0 to 5823
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   category             5824 non-null   object
 1   scientific_name      5824 non-null   object
 2   common_names         5824 non-null   object
 3   conservation_status  191 non-null    object
dtypes: object(4)
memory usage: 182.1+ KB

In [144]:
#  Since both Observation and Species have 'scientific_name' column common, we can merge the two dataframe.

In [145]:
# checking if the scientific_name is same in both dataframe
observation.scientific_name.isin(species.scientific_name).sum()

23296

In [146]:
# merging both dataframe
df=pd.merge(observation,species)

df

,scientific_name,park_name,observations,category,common_names,conservation_status
0,Vicia benghalensis,Great Smoky Mountains National Park,68,Vascular Plant,"Purple Vetch, Reddish Tufted Vetch",NaN
1,Vicia benghalensis,Yosemite National Park,148,Vascular Plant,"Purple Vetch, Reddish Tufted Vetch",NaN
2,Vicia benghalensis,Yellowstone National Park,247,Vascular Plant,"Purple Vetch, Reddish Tufted Vetch",NaN
3,Vicia benghalensis,Bryce National Park,104,Vascular Plant,"Purple Vetch, Reddish Tufted Vetch",NaN
4,Neovison vison,Great Smoky Mountains National Park,77,Mammal,American Mink,NaN
...,...,...,...,...,...,...
25627,Gulo gulo,Yosemite National Park,157,Mammal,Wolverine,NaN
25628,Dichanthelium depauperatum,Great Smoky Mountains National Park,88,Vascular Plant,"Green Panic-Grass, Panic Grass",NaN
25629,Dichanthelium depauperatum,Bryce National Park,80,Vascular Plant,"Green Panic-Grass, Panic Grass",NaN
25630,Dichanthelium depauperatum,Yellowstone National Park,255,Vascular Plant,"Green Panic-Grass, Panic Grass",NaN
25631,Dichanthelium depauperatum,Yosemite National Park,162,Vascular Plant,"Green Panic-Grass, Panic Grass",NaN

In [147]:
df.describe(include='all')

,scientific_name,park_name,observations,category,common_names,conservation_status
count,25632,25632,25632.000000,25632,25632,880
unique,5541,4,NaN,7,5504,4
top,Myotis lucifugus,Great Smoky Mountains National Park,NaN,Vascular Plant,Dicranum Moss,Species of Concern
freq,36,6408,NaN,19560,28,732
mean,NaN,NaN,142.214693,NaN,NaN,NaN
std,NaN,NaN,69.912475,NaN,NaN,NaN
min,NaN,NaN,9.000000,NaN,NaN,NaN
25%,NaN,NaN,86.000000,NaN,NaN,NaN
50%,NaN,NaN,124.000000,NaN,NaN,NaN
75%,NaN,NaN,195.000000,NaN,NaN,NaN
max,NaN,NaN,321.000000,NaN,NaN,NaN

In [148]:
# Cleaning Data (EDA)

In [149]:
# changing park names 
df.replace({'Great Smoky Mountains National Park':'Great Smoky Mountains','Yosemite National Park':'Yosemite','Yellowstone National Park':'Yellowstone','Bryce National Park':'Bryce'})

,scientific_name,park_name,observations,category,common_names,conservation_status
0,Vicia benghalensis,Great Smoky Mountains,68,Vascular Plant,"Purple Vetch, Reddish Tufted Vetch",NaN
1,Vicia benghalensis,Yosemite,148,Vascular Plant,"Purple Vetch, Reddish Tufted Vetch",NaN
2,Vicia benghalensis,Yellowstone,247,Vascular Plant,"Purple Vetch, Reddish Tufted Vetch",NaN
3,Vicia benghalensis,Bryce,104,Vascular Plant,"Purple Vetch, Reddish Tufted Vetch",NaN
4,Neovison vison,Great Smoky Mountains,77,Mammal,American Mink,NaN
...,...,...,...,...,...,...
25627,Gulo gulo,Yosemite,157,Mammal,Wolverine,NaN
25628,Dichanthelium depauperatum,Great Smoky Mountains,88,Vascular Plant,"Green Panic-Grass, Panic Grass",NaN
25629,Dichanthelium depauperatum,Bryce,80,Vascular Plant,"Green Panic-Grass, Panic Grass",NaN
25630,Dichanthelium depauperatum,Yellowstone,255,Vascular Plant,"Green Panic-Grass, Panic Grass",NaN
25631,Dichanthelium depauperatum,Yosemite,162,Vascular Plant,"Green Panic-Grass, Panic Grass",NaN

In [150]:
# checking null values
df.isna().sum()

scientific_name            0
park_name                  0
observations               0
category                   0
common_names               0
conservation_status    24752
dtype: int64

In [151]:
df.conservation_status.unique()

array([nan, 'Species of Concern', 'Threatened', 'Endangered',
       'In Recovery'], dtype=object)

In [152]:
df.conservation_status.fillna('Not at Risk',inplace=True)

In [153]:
df.conservation_status.value_counts()

Not at Risk           24752
Species of Concern      732
Endangered               80
Threatened               44
In Recovery              24
Name: conservation_status, dtype: int64

In [154]:
# Finding duplicate observations
df[df.duplicated()].sum()

scientific_name        Monotropa hypopithysMonotropa hypopithysPlanta...
park_name              Great Smoky Mountains National ParkGreat Smoky...
observations                                                        4875
category               Vascular PlantVascular PlantVascular PlantVasc...
common_names           American Pinesap, Pine-SapPinesapNipple-Seed P...
conservation_status    Not at RiskNot at RiskNot at RiskNot at RiskNo...
dtype: object

In [155]:
df.duplicated().sum()

31

In [156]:
print(len(df))
df.drop_duplicates(inplace=True)
print(len(df))

25632
25601

In [157]:
# checking non null values 
merged_df.category.notnull().sum()

25632